.Thank-heading {
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 200px;
    font-weight: 800;
    color: #E49B00;

    /* -webkit-text-stroke: 3px rgba(255, 255, 255, 0.6); */


}

.Thank-dublicat {
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 16rem;
    left: 5px;
    font-size: 200px;
    font-weight: 800;
    color: transparent;
    background-color: none;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);

}

.you-dublicat {
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 33.8333rem;
    right: 43px;
    font-size: 200px;
    font-weight: 800;
    color: transparent;
    background-color: none;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
}

.img-smily {

    opacity: 0;

}

.you-heading {
    font-family: Poppins, sans-serif;
    font-size: 200px;
    font-weight: 800;
    position: relative;
    bottom: 18rem;
    color: #E49B00;
}

.ThankyouBox {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: black;
}